* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.movie-title {
  font-size: 1.2rem;
}
.title {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}
.big-imgs {
  height: 300px;
  width: 250px;
}
.movie {
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
}
