h2 {
  padding: 15px 0px 15px 0px;
}
h4 {
  text-transform: lowercase;
}
h4 span {
  text-transform: capitalize;
}
ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style: none;
}
.user {
  padding-bottom: 20px;
}
.user-name {
  text-transform: capitalize;
}
.user-link {
  text-transform: uppercase;
  text-decoration: none;
}
.user-img {
  height: 250px;
  width: 250px;
}
