/* Watchlist styling */
h3 {
  text-align: center;
  font-size: 25px;
  padding: 3rem 0rem 3rem 0rem;
}
section {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
section h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
section button {
  height: 2rem;
  width: 10rem;
}
article {
  padding: 1rem;
  text-align: center;
}
article h1 {
  font-size: 1.2rem;
}
article p {
  font-size: 1.2rem;
}
/* Buttons */
.remove-btn {
  background: chartreuse;
}

.small-imgs {
  height: 150px;
  width: 150px;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem 3rem 0rem;
}
.clear-all-btn {
  background: crimson;
  height: 2rem;
  width: 10rem;
}
