* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.all {
  margin: 5rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}
.book {
  margin-right: 3rem;
}

img {
  height: 500px;
  width: 500px;
}
