* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.title {
  text-align: center;
  margin-top: 4rem;
}
.all {
  margin: 6rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}
.movies {
  display: flex;
  padding-right: 2rem;
}
img {
  height: 300px;
  width: 240px;
}
/* counter.js styling */
.container {
  margin: 3rem 0rem 0rem 3rem;
  display: flex;
  flex-direction: column;
}
.counterTitle {
  font-size: 1.7rem;
  color: red;
}
.counterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnContainer button {
  margin-right: 2rem;
  background: yellow;
}
.value {
  margin: 1rem 0rem 1rem 0rem;
}
/* Watchlist styling */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
section h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
section button {
  height: 2rem;
  width: 10rem;
}
article {
  padding: 1rem;
  text-align: center;
}
article h1 {
  font-size: 1.5rem;
}
article p {
  font-size: 1.2rem;
}
